Flask==2.2.5
Flask-Cors==3.0.10
Flask-Session==0.8.0
Flask-SocketIO==5.5.0
python-socketio==5.12.1
simple-websocket==1.1.0
aiohttp==3.8.5
uvloop==0.21.0
bidict==0.23.1
eventlet==0.33.3  # Required for Flask-SocketIO async support (if used)